

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

    <!-- Meta data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta content="Shelliz Insurance - Shelliz Insurance" name="description">
    <meta content="Shelliz Insurance" name="author">
    <meta name="keywords" content="Shelliz, Insurance" />

    <!-- Title -->
    <title>Shelliz Insurance</title>

    <!--Favicon -->
    <link rel="icon" href="https://spruko.com/demo/django/dashtic/DASHTIC/assets/images/brand/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap css -->
    <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Style css -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/boxed.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/dark-boxed.css') }}" rel="stylesheet" />

    <!-- Dark css -->
    <link href="{{ asset('assets/css/dark.css') }}" rel="stylesheet" />

    <!-- Skins css -->
    <link href="{{ asset('assets/css/skins.css') }}" rel="stylesheet" />

    <!-- Animate css -->
    <link href="{{ asset('assets/css/animated.css') }}" rel="stylesheet" />

    <!--Sidemenu css -->
    <link id="theme" href="{{ asset('assets/css/sidemenu.css') }}" rel="stylesheet">

    <!-- P-scroll bar css-->
    <link href="{{ asset('assets/plugins/p-scrollbar/p-scrollbar.css') }}" rel="stylesheet" />

    <!---Icons css-->
    <link href="{{ asset('assets/plugins/web-fonts/icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/plugins/web-fonts/font-awesome/font-awesome.min.css') }}" rel="stylesheet">
        <!--font awesome js-->
    <script src="assets/plugins/web-fonts/font-awesome/fa.js" crossorigin="anonymous"></script>
    <link href="{{ asset('assets/plugins/web-fonts/plugin.css') }}" rel="stylesheet" />

    <!---jvectormap css-->
    <link href="{{ asset('assets/plugins/jvectormap/jqvmap.css') }}" rel="stylesheet" />

	<!-- toastr css -->
	<link href="{{ asset('assets/plugins/toastr/toastr.css') }}" rel="stylesheet"/>
    
    <!-- File Uploads css-->
    <link href="{{ asset('assets/plugins/dropzone/dropzone.css') }}" rel="stylesheet" type="text/css" />

    <!---select2 css-->
    <link href="{{ asset('assets/plugins/select2/select2.min.css') }}" rel="stylesheet" />

    <!-- Data table css -->
    <link href="{{ asset('assets/plugins/datatable/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet" />

    <!--Daterangepicker css-->
    <link href="{{ asset('assets/plugins/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" />

    <!-- Switcher css -->
    <link href="{{ asset('assets/switcher/css/switcher.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/switcher/demo.css') }}" rel="stylesheet">
    
</head>
